@{
    ViewBag.Title = "About Me";
}

<h1 class="card-title">Something about Cameron</h1>
<h4 class="card-subtitle mb-2 text-muted">Hello</h4>
<div clas="container" style="background-color: #292b2c; color: white; padding: 25px ">
    <div class="row">
        <div class="col-sm-6">

            <!--Bootstrap Card-->
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Biography</h3>
                    <hr/>
                    <p class="card-text">My name is Cameron Taberer, I am currently studying Bcom informatics. I really enjoy sports, video games and programming.
                    I have been overseas three times to represent South Africa in two different sports. I went to Poland and America for the Tang Soo Do World Championships
                     which is a Korean martial art. I also went to the junior world rowing championships in Tokyo, where i rowed the pair. Im am really enjoying the degree im studying,
                    and with lots of practice, i hope to be excellent at programming by the end of it.</p>
                </div>
            </div>

        </div>
        <div class="col-sm-6">

            <!--Bootstrap Card-->
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Cameron Taberer</h3>
                    <hr />

                    <!--Image-->
                    <a href="~/Resources/About/Cameron.jpg"><img src="~/Resources/About/Cameron.jpg" class="img-responsive"></a>
                </div>
            </div>

        </div>
    </div>
</div>



