@{
    ViewBag.Title = "About Me";
}

<h1 class="card-title">Something about Cameron</h1>
<h4 class="card-subtitle mb-2 text-muted">Hello</h4>
<div clas="container" style="background-color: #292b2c; color: white; padding: 25px ">
    <div class="row">
        <div class="col-sm-8">

            <!--Bootstrap Card-->
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Biography</h3>
                    <hr />
                    <p class="card-text">My name is Cameron.</p>
                </div>
            </div>

        </div>
        <div class="col-sm-4">

            <!--Bootstrap Card-->
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Option Selection</h3>
                    <hr />

                    <!--Image-->
                    <img src="..." class="img-fluid" alt="Responsive image">
                </div>
            </div>

        </div>
    </div>
</div>



